*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    position: absolute; z-index: 1000;
    width: 100%;
    height: 15vh;
    color: white;
}

#nav-list{
    display: flex;
    align-items: center;
}

#nav-logo-container{
    display: flex;
    align-items: center;
}

#nav-logo{
    margin-right: auto;
    margin-left: 3em;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-item{
    margin-right: 2em;
    cursor: pointer;
}

#nav-last-item{
    margin-right: 4em;
}

/* Slideshow */
.slideshow-container{
    height: 100vh;
    width: 100%;
    /* text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black; */
}

.slideshow-container .slideshow-color{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 41, 116, 0.7)), to(rgba(14, 41, 116, 0.7)));
    background: linear-gradient(to bottom, rgba(14, 41, 116, 0.7) 0%, rgba(14, 41, 116, 0.7) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
}

.slideshow-container .slideshow-item1{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 41, 116, 0.7)), to(rgba(14, 41, 116, 0.7))), url("./assets/business_grayscale.jpg");
    background: linear-gradient(to bottom, rgba(14, 41, 116, 0.7) 0%, rgba(14, 41, 116, 0.7) 100%), url("./assets/business_grayscale.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.slideshow-container .slideshow-item2{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 41, 116, 0.7)), to(rgba(14, 41, 116, 0.7))), url("./assets/handshake_grayscale.jpg");
    background: linear-gradient(to bottom, rgba(14, 41, 116, 0.7) 0%, rgba(14, 41, 116, 0.7) 100%), url("./assets/handshake_grayscale.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.slideshow-container .slideshow-item3{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 41, 116, 0.7)), to(rgba(14, 41, 116, 0.7))), url("./assets/accounting_grayscale.jpg");
    background: linear-gradient(to bottom, rgba(14, 41, 116, 0.7) 0%, rgba(14, 41, 116, 0.7) 100%), url("./assets/accounting_grayscale.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.slideshow-container .active{
    opacity: 1 !important;
    z-index: 500;
}

.slideshow-container .standby{
    opacity: 1 !important;
}

.slideshow-button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* About */
.about-hero{
    background: -webkit-gradient(linear, left top, left bottom, from( rgba(184, 14, 14, 0.7)), to( rgba(184, 14, 14, 0.7))), url("./assets/meeting_grayscale.jpg");
    background: linear-gradient(to bottom, rgba(184, 14, 14, 0.7) 0%, rgba(184, 14, 14, 0.7) 100%), url("./assets/meeting_grayscale.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#profile-container{
    display: flex;
    flex-direction: column;
}

.about-photo{
    height: 20em;
    width: 20em;
    border-radius: 50%;
}

/* Contact */
.contact-hero{
    background: -webkit-gradient(linear, left top, left bottom, from( rgba(19, 20, 22, 0.7)), to( rgba(19, 20, 22, 0.7))), url("./assets/telephone_grayscale.jpg");
    background: linear-gradient(to bottom, rgba(19, 20, 22, 0.7) 0%, rgba(19, 20, 22, 0.7) 100%), url("./assets/telephone_grayscale.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

/* Copyright */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    height: 2em;
}

footer a{
    margin-left: 4px;
}