*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Landing */
.slideshow-container{
    height: 100vh;
    width: 100%;
}

.main-slideshow{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 41, 116, 0.55)), to(rgba(14, 41, 116, 0.55))), url("./assets/business_grayscale.jpg");
    background: linear-gradient(to bottom, rgba(14, 41, 116, 0.55) 0%, rgba(14, 41, 116, 0.55) 100%), url("./assets/business_grayscale.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Carousel (Landing) */
.carousel .carousel-item{
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 15vh;
    border: black solid 1px;
}

#nav-list{
    display: flex;
    align-items: center;
}

#nav-logo-container{
    display: flex;
    align-items: center;
}

#nav-logo{
    margin-right: auto;
    margin-left: 3em;
}

.nav-item{
    margin-right: 2em;
}

#nav-last-item{
    margin-right: 4em;
}

/* Copyright */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    height: 2em;
}

footer a{
    margin-left: 4px;
}