*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    background-color: blueviolet;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

#nav-list{
    display: flex;
}

#nav-logo{
    margin-right: auto
}

.nav-item{
    margin-right: 2em;
}

#nav-last-item{
    margin-right: 4em;
}